<form action="/cart" method="post">
  <button class="btn" type="submit">
    <% if(InCart) { %>Add One More<% } else{ %>Add to Cart<% } %>
  </button>
  <input type="hidden" name="productId" value="<%= prod.id %>" />
</form>
